<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.mentalinc.episodeWatcher"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="MyEpisodes"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/ThemeDayNight"
        android:supportsRtl="true">

        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EpisodeListingActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/watch" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/loginLoginBtn" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/registerBtn" />
        <activity
            android:name=".activities.EpisodeDetailsActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/details" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/preferences" />
        <activity
            android:name=".activities.ShowManagementPortalActivity"
            android:exported="false"
            android:label="@string/manageShows" />
        <activity
            android:name=".activities.SettingsScreenActivity"
            android:exported="false"
            android:label="@string/settings" />
        <activity
            android:name=".activities.ShowManagementActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/favouriteShows" />
        <activity
            android:name=".activities.ShowManagementAddActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/addShow" />
        <activity
            android:name=".activities.ShowManagementRunTimeActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/ShowRuntime" />
        <activity
            android:name=".activities.RandomEpPickerActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/randompicker" />
        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:label="@string/about" />
        <activity
            android:name=".activities.ChangelogActivity"
            android:exported="false"
            android:label="@string/whatsNewTitle" />

        <activity
            android:name=".activities.ShowListingActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="ShowListing" />
        <activity
            android:name=".activities.UpdatedEpisodeListingActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="UpdatedEpisodeListing" />




        <uses-library android:name="android.test.runner" />
    </application>

</manifest>