<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyEpisodes"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeDayNight">
        <activity
            android:name=".activities.ShowHomeTabActivity"
            android:exported="false"
            android:label="NOT SURE WHERE THIS IS NOW"
            android:theme="@style/ThemeDayNight.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ShowSummaryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="ShowSummaryActivity" />
        <activity
            android:name=".activities.EpisodeListingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/watch" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/loginLoginBtn" />
        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/registerBtn" />
        <activity
            android:name=".activities.EpisodeDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/details" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/preferences" />
        <activity
            android:name=".activities.ShowManagementPortalActivity"
            android:exported="false"
            android:label="@string/manageShows" />
        <activity
            android:name=".activities.SettingsScreenActivity"
            android:exported="false"
            android:label="@string/settings" />
        <activity
            android:name=".activities.ShowManagementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/favouriteShows" />
        <activity
            android:name=".activities.ShowManagementAddActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/addShow" />
        <activity
            android:name=".activities.ShowManagementRunTimeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/ShowRuntime" />
        <activity
            android:name=".activities.RandomEpPickerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/randompicker" />
        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:label="@string/about" />
        <activity
            android:name=".activities.ChangelogActivity"
            android:exported="false"
            android:label="@string/whatsNewTitle" />
        <activity
            android:name=".activities.ShowListingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="ShowListing" />
        <activity
            android:name=".activities.UpdatedEpisodeListingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="UpdatedEpisodeListing" />

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>